<div class="user-profile">
  <div class="user-profile-header">
    <h1>WILLKOMMEN</h1>
  </div>
  <div class="user-profile-details">
    <div class="user-avatar">
      <img src="../../../assets/images/user_avatar.png" alt="User Avatar" />
    </div>
    <div class="user-info">
      <h2>BENUTZERPROFILE</h2>
      <p><strong>Vorname:</strong> John</p>
      <p><strong>Nachname:</strong> John</p>
      <p><strong>Email:</strong> chessplayer42@example.com</p>
      <p><strong>Geburtsdatum:</strong> 02-02-1989</p>
      <p><strong>ELO:</strong> 500</p>
    </div>
  </div>
</div>
